<div>
    <p>The 2023 SHOT Show starts tomorrow in Las Vegas, and there will be plenty to see. We’re pretty certain at least
        one snowflake liberal journalist will come in and take pictures of all the guns and then post the shocking story
        that guns were on display.</p>
    <p>One organization that will have a booth is the ATF:</p>
    <blockquote class="twitter-tweet" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">ATF is heading to <a
                href="https://twitter.com/nssfshotshow?ref_src=twsrc%5Etfw">@nssfshotshow</a> in Las Vegas next week.
            Visit us at booth #42354 at the Venetian Expo Level 1 during the 2023 <a
                href="https://twitter.com/hashtag/SHOTShow?src=hash&amp;ref_src=twsrc%5Etfw">#SHOTShow</a> exhibition.
            See you soon! <a href="https://twitter.com/hashtag/ATF?src=hash&amp;ref_src=twsrc%5Etfw">#ATF</a> <a
                href="https://t.co/ClrCd8J8so">pic.twitter.com/ClrCd8J8so</a></p>
        <p>— ATF HQ (@ATFHQ) <a href="https://twitter.com/ATFHQ/status/1614019881854291987?ref_src=twsrc%5Etfw">January
                13, 2023</a></p>
    </blockquote>
    <p>Might as well leave those chairs empty.</p>
    <blockquote class="twitter-tweet" data-width="500" data-dnt="true">
        <p lang="zxx" dir="ltr"><a href="https://t.co/AI9SbqAlBl">https://t.co/AI9SbqAlBl</a> <a
                href="https://t.co/h4Y3URPDoY">pic.twitter.com/h4Y3URPDoY</a></p>
        <p>— Dana Loesch (@DLoesch) <a
                href="https://twitter.com/DLoesch/status/1615098197470490625?ref_src=twsrc%5Etfw">January 16, 2023</a>
        </p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">I can’t believe they let you show up.</p>
        <p>— WJB (@1911Spartan) <a
                href="https://twitter.com/1911Spartan/status/1614020624602615814?ref_src=twsrc%5Etfw">January 13,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">No one likes you.</p>
        <p>— mamamae (@maegansmiles04) <a
                href="https://twitter.com/maegansmiles04/status/1614723537948016640?ref_src=twsrc%5Etfw">January 15,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">I hope you’re all unemployed soon.</p>
        <p>— anarcho-weeb (@thrash242) <a
                href="https://twitter.com/thrash242/status/1614659821566918661?ref_src=twsrc%5Etfw">January 15, 2023</a>
        </p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="qme" dir="ltr"> <a href="https://t.co/3QskpZFTn6">pic.twitter.com/3QskpZFTn6</a></p>
        <p>— Freespirit Gal ???? (@GalFreespirit) <a
                href="https://twitter.com/GalFreespirit/status/1614020569317650433?ref_src=twsrc%5Etfw">January 13,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">Try not to burn the place down, eh?</p>
        <p>(**What an unbelievable lack of self-awareness or shame.) <a
                href="https://t.co/1Glevf5wda">pic.twitter.com/1Glevf5wda</a></p>
        <p>— David Ratliff ®️ (@xChicagoDave) <a
                href="https://twitter.com/xChicagoDave/status/1614039653266374656?ref_src=twsrc%5Etfw">January 13,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">You shouldn't have even been permitted to attend SHOT Show. What's your purpose there? To
            determine what you want to go after next? I hope you're asked to leave.</p>
        <p>— DeFiTrades ????️ (@D3F1Trades) <a
                href="https://twitter.com/D3F1Trades/status/1614675333327757315?ref_src=twsrc%5Etfw">January 15,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">I feel bad for the booths next to you.</p>
        <p>— Stig the White (@StigTheWhite) <a
                href="https://twitter.com/StigTheWhite/status/1614675912246841347?ref_src=twsrc%5Etfw">January 15,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">I'm sure you'll be real popular there.</p>
        <p>— Jake Milman (@Jakeshootsstuff) <a
                href="https://twitter.com/Jakeshootsstuff/status/1614036295764054016?ref_src=twsrc%5Etfw">January 13,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">Oh good! We will be there too. Who can I speak to about this pistol brace thing? Is there
            a manager on site?</p>
        <p>— Mike (@NoirTacGroup) <a
                href="https://twitter.com/NoirTacGroup/status/1614349730322214912?ref_src=twsrc%5Etfw">January 14,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">After the brace rule, you are sure going to have some seriously interesting four days
            ahead of you there.</p>
        <p>— Pierangelo Tendas (@PierangeloTend1) <a
                href="https://twitter.com/PierangeloTend1/status/1614076904092454919?ref_src=twsrc%5Etfw">January 14,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">I'm sure whoever has to sit at that booth is gonna have a real fun time</p>
        <p>— SRT All Day (@jimbobimbo_III) <a
                href="https://twitter.com/jimbobimbo_III/status/1614759967516393474?ref_src=twsrc%5Etfw">January 15,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="qme" dir="ltr"> <a href="https://t.co/YOvC6jNiJY">pic.twitter.com/YOvC6jNiJY</a></p>
        <p>— Jeff Weldstrodamus (@JeffreyJope) <a
                href="https://twitter.com/JeffreyJope/status/1614043406015102976?ref_src=twsrc%5Etfw">January 13,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">sure hope you don’t leave Vegas like you did Waco <a
                href="https://t.co/MY9TmXMW6u">pic.twitter.com/MY9TmXMW6u</a></p>
        <p>— obesity denier!!! (@TommysDesktop) <a
                href="https://twitter.com/TommysDesktop/status/1614114195917635585?ref_src=twsrc%5Etfw">January 14,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">You should all be ashamed of the career path you've chosen and I wish all of you the
            absolute worst.</p>
        <p>— T_p_tio ???? (@Txp_RBI_Xctuxl) <a
                href="https://twitter.com/Txp_RBI_Xctuxl/status/1614684186618757120?ref_src=twsrc%5Etfw">January 15,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">Can’t wait to see how badly you get trolled.</p>
        <p>— Jakefromstatefarm (@PaladinPhillip) <a
                href="https://twitter.com/PaladinPhillip/status/1614871746594701312?ref_src=twsrc%5Etfw">January 16,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">I'm sure you folks will have a great time there and everyone will have very nice things
            to say to you!</p>
        <p>— punished feline ???? (@gabbycatter) <a
                href="https://twitter.com/gabbycatter/status/1614676355681255425?ref_src=twsrc%5Etfw">January 15,
                2023</a></p>
    </blockquote>
    <blockquote class="twitter-tweet" data-conversation="none" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">Hey when you’re there, make sure to read the room.</p>
        <p>— D’Orazio (@TheRealDOrazio) <a
                href="https://twitter.com/TheRealDOrazio/status/1614152859511144450?ref_src=twsrc%5Etfw">January 14,
                2023</a></p>
    </blockquote>
    <div class="row">
        <div class="col-xs-3" style="float:left"></div>
        <div class="col-xs-5" style="float:right">
            <div class="home-trending-widget-article">
                <p class="bigwidgetheader text-lowercase center-block">Trending</p>
                <ul>
                    <li> <a
                            href="https://twitchy.com/sarahd-313035/2023/01/16/bulwarks-mona-charen-struggling-to-come-to-grips-with-st-joe-bidens-classified-documents-mess/">Bulwark's
                            Mona Charen struggling to come to grips with St. Joe Biden's 'classified documents mess'
                            <br><span class="share-count-trend"></span> </a> </li>
                    <li> <a
                            href="https://twitchy.com/samj-3930/2023/01/16/david-harsanyi-humiliates-judd-legum-in-brutal-thread-for-trying-to-use-mlk-day-to-trash-the-right/">David
                            Harsanyi humiliates Judd Legum in BRUTAL thread for trying to use MLK Day to trash the Right
                            <br><span class="share-count-trend"></span> </a> </li>
                </ul>
            </div>
        </div>
    </div>
    <p>Are they recruiting or something? That’s going to go over about as well as <a
            href="https://twitchy.com/dougp-3137/2022/02/14/dana-loesch-jesse-kelly-many-others-help-out-after-atf-solicits-valentines-day-tips-on-illegal-gun-activity/">their
            Valentine’s Day tweet</a>:</p>
    <blockquote class="twitter-tweet" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">Valentine's Day can still be fun even if you broke up. Do you have information about a
            former (or current) partner involved in illegal gun activity? Let us know, and we will make sure it's a
            Valentine's Day to remember! Call 1-888-ATF-TIPS or email <a href="/cdn-cgi/l/email-protection"
                class="__cf_email__" data-cfemail="6f2e3b293b061f1c2f0e1b094108001941">[email&nbsp;protected]</a> <a
                href="https://t.co/OdDIPdIzkr">pic.twitter.com/OdDIPdIzkr</a></p>
        <p>— ATF HQ (@ATFHQ) <a href="https://twitter.com/ATFHQ/status/1493208813670965248?ref_src=twsrc%5Etfw">February
                14, 2022</a></p>
    </blockquote>
    <p>***</p>
    <p>Join us in the fight. Become a&nbsp;<a href="http://twitchy.com/subscribe?tpcc=column011023" target="_blank"
            rel="noopener noreferrer"
            data-saferedirecturl="https://www.google.com/url?q=https://townhall.com/subscribe?tpcc%3Dcolumn011023&amp;source=gmail&amp;ust=1673467683629000&amp;usg=AOvVaw0jsb_hbMEEi25RMSBuzP_9">Twitchy
            VIP</a>&nbsp;member today and use promo code&nbsp;<strong>SAVEAMERICA</strong>&nbsp;to receive a 40%
        discount&nbsp;on your membership.</p>
    <p><strong>Related</strong>:</p>
    <blockquote class="twitter-tweet" data-width="500" data-dnt="true">
        <p lang="en" dir="ltr">Dana Loesch, Jesse Kelly &amp; many others help out after ATF solicits Valentine’s Day
            tips on ‘illegal gun activity’ <a href="https://t.co/8JO9hELyE6">https://t.co/8JO9hELyE6</a></p>
        <p>— Twitchy Team (@TwitchyTeam) <a
                href="https://twitter.com/TwitchyTeam/status/1493285917527842822?ref_src=twsrc%5Etfw">February 14,
                2022</a></p>
    </blockquote>


    <div class="article-btns clearfix">
        <div class="btn-group btn-group-lg pull-left header-social-btns th-sharecounts sc" role="group"
            data-url="https://twitchy.com/brettt-3136/2023/01/16/the-atf-cant-wait-to-see-you-at-the-2023-shot-show-in-las-vegas/"
            aria-label="..." style="padding-right:4px;">
            <a href="http://www.facebook.com/sharer/sharer.php?u=https://twitchy.com/brettt-3136/2023/01/16/the-atf-cant-wait-to-see-you-at-the-2023-shot-show-in-las-vegas/&amp;title=The+ATF+can%E2%80%99t+wait+to+see+you+at+the+2023+SHOT+Show+in+Las+Vegas"
                class="btn btn-default fb s th-sharecounts sc-fb"
                onclick=" javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                data-title="The+ATF+can%E2%80%99t+wait+to+see+you+at+the+2023+SHOT+Show+in+Las+Vegas"
                style="color: #ffffff;text-decoration: none;"><span class="icon-fa-facebook-official"></span>Share on
                Facebook<span class="fb-count"></span></a>
            <a href="http://twitter.com/share?text=The+ATF+can%E2%80%99t+wait+to+see+you+at+the+2023+SHOT+Show+in+Las+Vegas&amp;via=twitchyteam&amp;url=https://twitchy.com/brettt-3136/2023/01/16/the-atf-cant-wait-to-see-you-at-the-2023-shot-show-in-las-vegas/"
                class="btn btn-default tw s th-sharecounts"
                onclick=" javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                data-title="The+ATF+can%E2%80%99t+wait+to+see+you+at+the+2023+SHOT+Show+in+Las+Vegas"
                style="color: #ffffff;text-decoration: none;"><span class="icon-fa-twitter"></span>Share on Twitter</a>
        </div>
    </div>
    <div style="margin-top:50px">

    </div>
</div>